<form>
    <h3>Chattible</h3>
  
    <label for="username">Username</label>
    <input type="text" placeholder="Email or Phone" id="username">
  
    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password">

    <label for="phone">Email</label>
    <input type="email" placeholder="Email" id="email">

    <label for="phone">Phone number</label>
    <input type="text" placeholder="Phone number" id="phonenumber">
  
    <button style="color: #263238;">Register your account</button>
    <button><a style="color: #263238;" href="./login">Ready to login?</a></button>
  </form>